@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);

}

.container {
    display: flex;
    justify-content: center;
}

.container>.main_container {

    display: flex;
    align-items: justify;

    border-radius: 10px;
    width: 500px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container>.main_container>.section_image {
    border-radius: 20px;
    object-fit: cover;
}

.container>.main_container>.section_image>img {
    height: 500px;
    width: 300px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  
}

.container>.main_container>.section_text {
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    padding-top: 2px;

}
.container>.main_container>.section_text >.text_perfume{
    color: hsl(228, 12%, 48%);
    padding:20px;
}
.container>.main_container>.section_text>.essence>h2{
    padding:20px;
    font-size: 30px;
    
    
     
}
.container>.main_container>.section_text>.text_phrase{
    color: hsl(228, 12%, 48%);
    padding:20px;
} 
.container>.main_container>.section_text>.dollars{
   padding: 20px;
}
.container>.main_container>.section_text>.dollars>span:nth-child(1){
    font-size: 30px;
    padding-right: 20px;
    color:hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}
.container>.main_container>.section_text>.dollars>span:nth-child(2){
    color:  hsl(228, 12%, 48%);
}
.container>.main_container>.section_text>.button{
    padding: 40px;
    justify-content: center;
}
.container>.main_container>.section_text>.button>button{
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color:hsl(0, 0%, 100%) ;
    background-color:hsl(158, 36%, 37%);
    font-weight: bold;
    cursor: pointer;
    transition: opacity .2s;
    gap: 10px;
    justify-content: space-between;
}
.container>.main_container>.section_text>.button>button:hover{
background-color: hsl(228, 12%, 48%);
color: hsl(0, 0%, 100%) ;
}
